# exclude unrelated files
e3nn_playground/
Fangping_correlation/
paper_figs/

*.pt
*.zip

run.py
run_full.py

DataPrepare/Data/*
!DataPrepare/Data/DBAASP_id_SMILES_bact_mean_MICs.csv
!DataPrepare/Data/DBAASP_id_SMILES_compare.csv
DataPrepare/*
!DataPrepare/
!DataPrepare/Data/
!DataPrepare/visualize_mol_diff.py

.DS_Store
.idea/__pycache__/
*.pyc
